
body {
	background-color: #087ca7;
	width: 100%;
	margin: 0 auto;
	font-family: 'Antic', sans-serif;
	color: #dae0e6;
	line-height: 1.3;
	/* width: 1020px; */
	height: 480px;
}

/*? HEADER */

header {
	background-image: linear-gradient(90deg, #087CA7, #05B2DC);
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	color: #ffffff;
}

nav {
	text-align: center;
	position: relative;
	font-size: 20px;
}

nav ul {
	list-style-image: none;
}

nav li {
	display: inline-block;
	margin: 16px 10px;
}

nav li a {
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}

nav li:not(:last-child)::after {
	content: url(assets/moon.png);
	margin-left: 20px;
}

/*? CONTATO */

section {
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 48px;
	width: 1300px;
	justify-content: center;
	margin: 0 80px;
}

.me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 450px;
}

h1 {
	font-family: 'Antic', sans-serif;
	font-size: 80px;
	margin: 16px 0;
	font-weight: 500;
}

h2 {
	font-size: 20px;
	margin: 16px 0;
	font-style: italic;
	font-weight: 600;
	letter-spacing: 1px;
}

.contact-info {
	display: flex;
	align-items: center;
	margin: 8px 0;
}

.contact-info img {
	width: 40px;
}

.contact-info p {
	margin-left: 10px;
	font-size: 20px;
}

.media {
	position: relative;
}

.avatar {
	position: absolute;
	background-image: url('./assets/pfp.jpg');3
	border-color: rgb(141,108,159);
	background-position: center;
	background-size: cover;
	aspect-ratio: 1;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: rgb(141,108,159) 5px solid;
	top: -150px;
}

.media-links {
	position: absolute;
	left: 23em;
	top: -50px;
}

.media-links img {
	width: 40px;
	margin-bottom: 5px;
	transition: 0.7s transform;
}

.media-links img:hover {
	transform: scale(1.5);
}

/*? SOBRE MIM */

main {
	padding: 48px 0;
}

main div {
	width: 1020px;
	margin: 0 auto;
}

#sobre-mim {
	position: relative;
}

.margem-caixas {
	margin: 2.3%;
}

.sobre-mim-img {
	display: inline-block;
	width: 400px;
	border-radius: 8px;
	box-shadow: rgba(66, 3, 45, 0.2) 1px 1px 16px;
}

.sobre-mim-info {
	display: inline-block;
	width: 520px;	
	position: absolute;	
	right: 0;
	top: 25px;
}

.titulo {
	font-weight: 600;
	margin-top: 48px;
	margin-bottom: 10px;
	letter-spacing: 1.5px;
}

#sobre-mim p {
	text-align: justify;
  width: 430px;
}

/*? FORMAÇÃO */

.bg-txt {
	padding: 18px;
	display: inline-block;
	border-radius: 8px;
	width: 43%;
	box-sizing: border-box;
	vertical-align: top;
	height: 70px;
	background-color: #004385;
	box-shadow: #031A6B 1px 1px 10px;
	color: #DDFDFE;
}

#formacao a {
	text-decoration: underline;
	color: #DDFDFE;
}

/*? INTERESSES */

.icones-interesses {
	width: 60px;
	margin-left: 10px;
	transition: 0.7s transform;
}

.icones-interesses:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/*? FOOTER */

.footer {
	background-image: linear-gradient(90deg, #087CA7, #05B2DC);
	background-color: #087ca7;
	height: 180px;
	padding-top: 32px;
	text-align: center;
	color: #A2E8DD;
	font-size: 18px;
	
}

.footer-info {
	width: 1020px;
	margin: 0 auto 52px;
}

.icones-info {
	width: 40px;
}

.fale-comigo {
	display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.fale-comigo a {
	text-decoration: underline;
	color: white;
}